# fairseq2>=0.3.0rc1 # install manually from https://fair.pkg.atmeta.com/fairseq2/whl/rc/pt2.5.1/cpu/
# See https://github.com/NVIDIA/TensorRT-LLM/issues/1145
mpmath==1.3.0
numpy>=1.21
torch
torchaudio
sox
soundfile
tqdm
